:root {
  --surface-50: 15 15 15;
  --surface-100: 28 28 28;
  --surface-200: 45 45 45;
  --surface-300: 65 65 65;
  --surface-400: 95 95 95;
  --surface-500: 125 125 125;
  --surface-600: 165 165 165;
  --surface-700: 195 195 195;
  --surface-800: 220 220 220;
  --surface-900: 238 238 238;
  --surface-950: 248 248 248;
}

.dark {
  --surface-50: 235 235 235;
  --surface-100: 220 220 220;
  --surface-200: 200 200 200;
  --surface-300: 175 175 175;
  --surface-400: 145 145 145;
  --surface-500: 115 115 115;
  --surface-600: 85 85 85;
  --surface-700: 58 58 58;
  --surface-800: 38 38 38;
  --surface-900: 24 24 24;
  --surface-950: 12 12 12;
}
