:root {
  --surface-50: 10 10 10;
  --surface-100: 20 20 20;
  --surface-200: 30 30 30;
  --surface-300: 45 45 45;
  --surface-400: 60 60 60;
  --surface-500: 80 80 80;
  --surface-600: 100 100 100;
  --surface-700: 120 120 120;
  --surface-800: 140 140 140;
  --surface-900: 180 180 180;
  --surface-950: 200 200 200;
}

.dark {
  --surface-50: 200 200 200;
  --surface-100: 180 180 180;
  --surface-200: 140 140 140;
  --surface-300: 120 120 120;
  --surface-400: 100 100 100;
  --surface-500: 80 80 80;
  --surface-600: 60 60 60;
  --surface-700: 45 45 45;
  --surface-800: 30 30 30;
  --surface-900: 20 20 20;
  --surface-950: 10 10 10;
}
